<%- include('./_header') %>
<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <a href="./add_user.html" class="border-shadow">
        <span class="text-gradient"> New User<i class="fas fa-user"></i> </span>
      </a>
    </div>

    <!-- form handing -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>username</th>
            <th>email</th>
            <th>fullName</th>
            <th>status</th>
            <th>gender</th>
            <th>roleName</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('./show') %>
        </tbody>
      </table>
    </form>
    <!-- /form handing -->
  </div>
</main>
<!-- /Main Site -->
<%- include('../includes/footer') %>
