<!-- include header -->
<%- include('includes/header') %>
<!-- /include header -->

<!-- include navigation -->
<%- include('includes/navigation') %>
<!-- /include navigation -->

</div>
<div class="text-center">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="border py-5 col-3">
        <div class="link-dashboard">
          <a href="/room" class="font-weight-bold">Chat Zoom FM</a>
        </div>
      </div>
      <div class=" py-5 col-1">
      </div>
      <div class="border py-5 col-3">
        <div class="link-dashboard">
          <a href="/workspace" class="font-weight-bold">Workspace</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-around">
      <div class="border py-5 col-3">
        <div class="link-dashboard">
          <a href="" class="font-weight-bold">Profile</a>
        </div>
      </div>
      <div class="border py-5 col-3">
        <div class="link-dashboard">
          <a href="/admin" class="font-weight-bold">Users System</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
