<!-- include header -->
<%- include('includes/header') %>
<!-- /include header -->

<!-- include navigation -->
<%- include('includes/navigation') %>
<!-- /include navigation -->

<!-- CZ-M -->
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <!-- Image -->
          <img
            class="img-fluid rounded-circle"
            src="img/dashboard/01.jpeg"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Chat Zoom - Meeting</h2>
          <p>
            Joining a meeting is quick and easy! Discover the options for
            joining meetings based on your requirements and to ensure the best
            meeting experience possible.
          </p>
          <div>
            <a href="/room" class="btn btn-secondary font-weight-bold">
              Join CZ-M
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- workspace -->
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <!-- Image -->
          <img
            class="img-fluid rounded-circle"
            src="img/dashboard/02.jpeg"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <h2 class="display-4">Workspace</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam
            exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
            molestiae adipisci, beatae obcaecati.
          </p>

          <div>
            <a href="/workspace" class="btn btn-secondary font-weight-bold">
              Join Workspace
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
