<!-- include header -->
<%- include('./includes/header') %>
<!-- include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <div class="filter">
        <a href="/admin"> <i class="fas fa-angle-double-left"></i>All Users </a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light"> Use the below form to Update an account </span>
    </div>

    <!-- add_user form -->
    <%- include('./includes/form') %>
    <!-- /add_user form -->
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('./includes/footer') %>
<!-- /include footer -->
